body {
  background-color: #a5cfe8;
}
a {
  cursor: pointer;
}
.clear {
  clear: both;
}
.logo-btn {
  display: inline-block;
}
.logo-btn li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}
.logo-btn a {
  font-size: 20px;
  font: 14px 'Arial', 'Microsoft YaHei';
  color: #6c5d64;
}
.logo-btn a:hover {
  color: #ff7d0e;
  text-decoration: none;
}
.logo-btn span {
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 5px;
  color: #6c5d64;
}
.fix-head {
  width: 100%;
  height: 48px;
  border-top: 2px solid #fa7d3c;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background-color: #fff;
  color: #333;
}
.fix-head .head-content {
  width: 1000px;
  margin: 0 auto;
  vertical-align: middle;
  height: 100%;
}
.fix-head .head-content .left-logo {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.fix-head .head-content .left-logo a {
  cursor: pointer;
  width: 140px;
  height: 46px;
  display: block;
}
.fix-head .head-content .left-logo span {
  display: block;
  background: url(http://img.t.sinajs.cn/t6/style/images/global_nav/WB_logo.png?id=1404211047727) no-repeat left center;
  width: 140px;
  height: 46px;
}
.fix-head .head-content .search-box {
  width: 275px;
  display: inline-block;
}
.fix-head .head-content .search-box input {
  outline-color: #ff7d0e;
  border-radius: 1px;
  border: 1px solid #eee;
  box-shadow: none;
  background-color: #eeeeee;
  color: black;
  padding: 3px 5px;
  width: 275px;
  height: 30px;
}
.fix-head .head-content .search-box span {
  margin-left: -20px;
  color: #948989;
}
.fix-head .head-content .head-nav {
  margin-left: 20px;
}
.fix-head .head-content .log {
  position: relative;
  float: right;
}
.fix-head .head-content .log ul {
  height: 46px;
  line-height: 46px;
}
.fix-head .head-content .log .edit-btn {
  vertical-align: top;
  padding-left: 5px;
  cursor: pointer;
}
.fix-head .head-content .log .edit-hover {
  display: inline-block;
}
.fix-head .head-content .log .edit-hover:hover .edit {
  height: 270px;
  border-width: 1px;
  opacity: 1;
}
.fix-head .head-content .log .edit-hover:hover .triangle {
  opacity: 1;
}
.fix-head .head-content .log .edit {
  opacity: 0;
  overflow: hidden;
  text-align: center;
  position: absolute;
  transition: all 0.5s;
  top: 30px;
  left: -65px;
  border: 0px solid #ccc;
  border-radius: 3px;
  width: 100px;
  height: 0;
  background-color: #fff;
  box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
}
.fix-head .head-content .log .edit ul {
  height: auto;
  line-height: 20px;
}
.fix-head .head-content .log .edit ul li {
  font-size: 20px;
}
.fix-head .head-content .log .triangle {
  top: 30px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s;
}
.fix-head .head-content .log .triangle:before {
  width: 0;
  height: 0;
  border-width: 10px;
  border-color: transparent transparent #dadada transparent;
  content: '';
  position: absolute;
  top: -20px;
  border-style: solid;
  left: 70%;
}
.fix-head .head-content .log .triangle:after {
  width: 0;
  height: 0;
  border-width: 11px;
  border-color: transparent transparent #fff transparent;
  content: '';
  position: absolute;
  top: -20px;
  border-style: solid;
  left: 70%;
}
.container {
  padding: 0;
  width: 1000px;
  margin: 46px auto 0 auto;
  background-color: #62a7d1;
}
.container .nav-left {
  margin-top: 10px;
  float: left;
  width: 150px;
}
.container .nav-left a {
  padding-left: 15px;
  color: white;
  display: block;
  height: 34px;
  line-height: 34px;
}
.container .nav-left a:hover {
  text-decoration: none;
  background-color: #7fb9db;
}
.container .nav-left a h1 {
  font-size: 14px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
}
.container .nav-left a h2 {
  display: inline-block;
  font-size: 12px;
  margin-left: 5px;
}
.container .nav-left .line {
  margin-top: 15px;
  height: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.container .middle-content {
  display: inline-block;
  width: 600px;
  margin-top: 10px;
}
.container .middle-content .publish-area {
  padding: 10px 5px 5px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 1px;
}
.container .middle-content .publish-area .head-title {
  color: #1f99f3;
}
.container .middle-content .publish-area textarea {
  width: 100%;
  margin-top: 5px;
  min-height: 90px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  outline-color: #ff7d0e;
  padding: 5px;
  box-shadow: 0 0 2px #cccccc inset;
}
.container .middle-content .publish-area .func-area {
  position: relative;
  font-size: 14px;
  line-height: 35px;
}
.container .middle-content .publish-area .func-area .dot {
  font-size: 20px;
  font-weight: bold;
}
.container .middle-content .publish-area .func-area ul {
  line-height: 35px;
}
.container .middle-content .publish-area .func-area .privacy {
  font-size: 12px;
}
.container .middle-content .publish-area .func-area .privacy span {
  font-size: 12px;
}
.container .middle-content .publish-area .func-area #publish {
  display: inline-block;
  background-color: #ff7d0e;
  width: 60px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 3px;
  color: #fff;
  border: 0;
}
.container .middle-content .publish-area .func-area .photo-wrap {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1001;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 3px;
}
.container .middle-content .publish-area .func-area .photo-wrap:before {
  width: 0;
  height: 0;
  border-width: 10px;
  border-color: transparent transparent #dadada transparent;
  content: '';
  position: absolute;
  top: -20px;
  border-style: solid;
  left: 30%;
}
.container .middle-content .publish-area .func-area .photo-wrap:after {
  width: 0;
  height: 0;
  border-width: 11px;
  border-color: transparent transparent #fff transparent;
  content: '';
  position: absolute;
  top: -20px;
  border-style: solid;
  left: 30%;
}
.container .middle-content .publish-area .func-area .photo-wrap i {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  padding: 5px;
}
.container .middle-content .publish-area .func-area .photo-wrap i:hover {
  color: #ff7d0e;
}
.container .middle-content .publish-area .func-area .photo-wrap #img-wrap {
  padding: 10px;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}
.container .middle-content .publish-area .func-area .photo-wrap #img-wrap img {
  height: 80px;
  width: 80px;
}
.container .middle-content .publish-area .func-area .photo-wrap #img-wrap .input-box {
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
}
.container .middle-content .publish-area .func-area .photo-wrap #img-wrap .input-box img {
  height: 100%;
  width: 100%;
  border: 3px dashed #ccc;
}
.container .middle-content .publish-area .func-area .photo-wrap #img-wrap .input-box input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.container .middle-content .publish-area .func-area .photo-wrap #img-wrap .input-box span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -9px 0 0 -9px;
  color: #ccc;
}
.container .middle-content .publish-area .func-area .photo-wrap #img-wrap .input-box:hover img {
  border-color: #ff7d0e;
}
.container .middle-content .publish-area .func-area .photo-wrap #img-wrap .input-box:hover span {
  color: #ff7d0e;
}
.container .middle-content .publish-area .func-area .photo-wrap #img-wrap .img-box {
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
}
.container .middle-content .publish-area .func-area .photo-wrap #img-wrap .img-box img {
  height: 100%;
  width: 100%;
}
.container .middle-content .publish-area .func-area .photo-wrap #img-wrap .img-box input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.container .middle-content .publish-area .func-area .photo-wrap #img-wrap .img-box span {
  display: none;
}
.container .middle-content .content-area {
  margin-top: 10px;
}
.container .middle-content .content-area .head-switch {
  width: 100%;
  background-color: #fff;
  height: 30px;
  line-height: 30px;
}
.container .middle-content .content-area .head-switch ul {
  height: 30px;
  line-height: 30px;
}
.container .middle-content .content-area .content-box {
  position: relative;
  border: 1px solid transparent;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  background-color: #fff;
}
.container .middle-content .content-area .content-box .head-img {
  position: absolute;
  left: 10px;
  top: 10px;
}
.container .middle-content .content-area .content-box .head-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.container .middle-content .content-area .content-box .content {
  margin-left: 70px;
  display: block;
  padding-right: 30px;
}
.container .middle-content .content-area .content-box .content h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.container .middle-content .content-area .content-box .content h2 {
  margin-top: 5px;
  margin-bottom: 10px;
}
.container .middle-content .content-area .content-box .content .img-box {
  margin: 5px 1px 5px 0;
  padding-bottom: 10px;
}
.container .middle-content .content-area .content-box .content .img-box img {
  margin: 5px;
  width: 150px;
  height: auto;
  cursor: pointer;
}
.container .middle-content .content-area .content-box .content-bottom {
  border-top: 1px solid  #ccc;
  width: 100%;
}
.container .middle-content .content-area .content-box .content-bottom .logo-btn {
  width: 100%;
}
.container .middle-content .content-area .content-box .content-bottom ul > li {
  width: 24%;
  text-align: center;
  border-right: 1px solid #ccc;
  margin: 0;
}
.container .middle-content .content-area .content-box .content-bottom li:last-child {
  border-right: 0;
}
.container .right-info {
  display: block;
  float: right;
  margin-right: 5px;
  margin-top: 10px;
  width: 230px;
  margin-left: 10px;
}
.container .right-info .personal-info {
  position: relative;
  padding: 0;
  height: 176px;
  width: 100%;
  background-color: #fff;
}
.container .right-info .personal-info .skin img {
  height: 88px;
  width: 100%;
}
.container .right-info .personal-info .info {
  width: 100%;
  height: 88px;
  background-color: #fff;
  text-align: center;
  padding-top: 28px;
}
.container .right-info .personal-info .info h1,
.container .right-info .personal-info .info h2 {
  font-weight: bold;
  color: black;
}
.container .right-info .personal-info .info a {
  font-size: 18px;
  color: #000;
}
.container .right-info .personal-info .info a:hover {
  color: #ff7d0e;
  text-decoration: none;
}
.container .right-info .personal-info .avatar {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -25px;
  margin-top: -25px;
  background-size: cover;
  overflow: hidden;
}
.container .right-info .personal-info .avatar img {
  width: 50px;
  height: 50px;
}
