body {
  background-color: green;
}
.logo-btn {
  display: inline-block;
}
.logo-btn li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}
.logo-btn a {
  font-size: 20px;
  font: 14px 'Arial', 'Microsoft YaHei';
  color: #6c5d64;
}
.logo-btn a:hover {
  color: #ff7d0e;
  text-decoration: none;
}
.logo-btn span {
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 5px;
}
.fix-head {
  width: 100%;
  height: 48px;
  border-top: 2px solid #fa7d3c;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background-color: #fff;
  color: #333;
}
.fix-head .head-content {
  width: 1000px;
  margin: 0 auto;
  vertical-align: middle;
  height: 100%;
}
.fix-head .head-content .left-logo {
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
.fix-head .head-content .left-logo a {
  cursor: pointer;
  width: 140px;
  height: 46px;
  display: block;
}
.fix-head .head-content .left-logo span {
  display: block;
  background: url(http://img.t.sinajs.cn/t6/style/images/global_nav/WB_logo.png?id=1404211047727) no-repeat left center;
  width: 140px;
  height: 46px;
}
.fix-head .head-content .search-box {
  width: 275px;
  display: inline-block;
}
.fix-head .head-content .search-box input {
  border-radius: 1px;
  border: 1px solid #eee;
  box-shadow: none;
  background-color: #eeeeee;
  color: black;
  padding: 3px 5px;
  width: 275px;
  height: 30px;
}
.fix-head .head-content .search-box span {
  margin-left: -20px;
  color: #948989;
}
.fix-head .head-content .head-nav {
  margin-left: 100px;
}
.fix-head .head-content .log {
  float: right;
}
.fix-head .head-content .log ul {
  height: 46px;
  line-height: 46px;
}
