html,
body {
  height: 100%;
  width: 100%:;
}
body {
  background: url('../img/03.jpg') no-repeat top left;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.signin {
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 100px;
  width: 300px;
  min-height: 300px;
  right: 100px;
  border: 1px solid rgba(64, 203, 190, 0.45);
  border-radius: 3px;
  background-color: rgba(64, 203, 190, 0.75);
}
.signin h1 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
}
.signin label {
  margin-top: 15px;
  font-size: 18px;
  font-weight: normal;
}
.signin input {
  color: #000;
  width: 100%;
  height: 30px;
  font-size: 18px;
  padding: 5px;
  outline: yellow;
  border-radius: 3px;
  border: 1px solid black;
}
.signin a {
  color: white;
}
.signin .sex {
  display: inline-block;
  width: 30%;
}
#submit {
  width: 100%;
  background-color: #5badf4;
  border-radius: 3px;
  text-align: center;
  padding-bottom: 20px;
  color: #fff;
  margin: 20px 0;
  outline-color: #ff7d0e;
}
.center {
  text-align: center;
}
.error {
  display: none;
}
.inline {
  display: inline-block;
  vertical-align: bottom;
}
