<% include ../includes/header %>
<div class="fix-head">
	<div class="head-content">
		<div class="left-logo">
			<a href="#"><span><!--logo--></span></a>
		</div>
		<div class="search-box">
			<input type="text" placeholder="搜点什么？"><span class="glyphicon glyphicon-search"></span>
		</div>
		<div class="head-nav logo-btn">
			<ul>
				<li><a href="#"><span class="glyphicon glyphicon-home"></span>首页</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-facetime-video"></span>视频</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-eye-open"></span>发现</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-headphones"></span>游戏</a></li>
			</ul>
		</div>
		<div class="log logo-btn">
			<ul>
				<li><a href="#">注册</a></li>
				<li><a href="#">登录</a></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>